
.kd-tb-wrapper {
    padding: 20px;
    min-width: 950px;
    background-color: #FFFFFF;
    /*border: 1px red solid;*/
}

.kd-tb-up-wrapper {
    /*border: 1px red solid;*/

    display: flex;
    justify-content: space-between;

    margin: 1px 1px 20px;
}

.kd-tb-left-wrapper {
    margin: 1px 50px 1px 1px;
    /*border: 1px red solid;*/
    display: flex;

    font-size: 18px;
    font-weight: 700;
    color: #333;
    letter-spacing: 0;
}

.kd-tb-down-wrapper {
    margin-top: 5px;
    /*border: 1px red solid;*/
}

.kd-tb-down-wrapper > div > button {

    margin-right: 12px;

    border: none;
    border-radius: 2px;
    box-sizing: inherit;
    width: 64px;
    height: 28px;
    background-color: #5582F3;
    color: #FFFFFF;
}