
.kd-card-card-wrapper {
    /*border: 1px red solid;*/
    background-color: #FFFFFF;
}

.kd-card-head {
    height: 51px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.kd-card-hide {
    margin-right: 8px;
}

.kd-card-extra {
    cursor: default;
    margin-right: 51px;
    margin-top: 14px;
}

.kd-card-extra  button {

    border: none;
    box-shadow: none;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(85, 130, 243, 1);
    line-height: 14px;
    background-color: #FFFFFF;
}

.kd-card-extra  button :hover {
    border: none!important;
    color: rgba(85, 130, 243, 1)!important;
    background-color: #FFFFFF!important;
}

.kd-card-title {
    cursor: pointer;
    margin: 18px 0 0 22px;

    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    color: #5E80EB;
    line-height: 24px;
}

.kd-card-content {

    padding: 0 40px 40px 40px;
    overflow: auto;
}