
.kd-table-wrapper {
    border: 1px #cfd0d2 solid;
    background-color: #FFFFFF;
}

.kd-table-wrapper .ant-table-body {
    margin: 0 !important;
}

.kd-table-wrapper .ant-table-wrapper{
    margin: 0!important;
}

.kd-table-wrapper th:nth-child(n+3) {
    position: relative;
}

.kd-table-wrapper th:nth-child(n) {
    background-color: #f4f4f4;
}

.kd-table-wrapper .ant-table-tbody > tr > td {
    border-bottom: 1px solid #cfd0d2 !important;
}


.kd-table-wrapper .ant-table-tbody > tr:last-child > td {
    border-bottom: none !important;
}

.kd-table-wrapper .ant-table-pagination.ant-pagination {
    margin:  6px 0 6px 0;
}

.kd-table-wrapper th:nth-child(n+3) > span:after {
    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 3px;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: #C7CBD3;
}

.kd-table-wrapper th:last-child > span:after {
    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 3px;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: #f4f4f4;
}

.kd-table-wrapper td {

}